<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Search</title>
  <link rel="stylesheet" href="css/foundation.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="css/app.css">
</head>

<body>

  <!-- NAVIGATION -->
  <header>
    <div data-sticky-container>
      <div class="top-bar" id="responsive-menu" style="border: 0px white;">
        <div class="top-bar-left">
          <a href="/" style="color:black;">Site Logo/Cookbook Home</a>
        </div>
        <div class="top-bar-right">
          <li class="menu">
            <a href="/view">Recipe Book</a>
            <a href="/nutrition">Nutrition Search</a>
          </li>
        </div>
      </div>
    </div>
  </header>

{{{ body }}}

<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.js"></script>
<script src="js/app.js"></script>

</body>

</html>


<!-- App listening on PORT 8080
Executing (default): CREATE TABLE IF NOT EXISTS `character` (`id` INTEGER NOT NULL auto_increment , `routeName` VARCHAR(255), `name` VARCHAR(255), `role` VARCHAR(255), `age` INTEGER, `forcePoints` INTEGER, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL, PRIMARY KEY (`id`)) ENGINE=InnoDB;
Executing (default): SHOW INDEX FROM `character`
Executing (default): INSERT INTO `character` (`id`,`routeName`,`name`,`role`,`age`,`forcePoints`,`createdAt`,`updatedAt`) VALUES (DEFAULT,'yes','yes','yes','10','10','2020-02-01 06:13:24','2020-02-01 06:13:24');
Executing (default): SELECT `id`, `routeName`, `name`, `role`, `age`, `forcePoints`, `createdAt`, `updatedAt` FROM `character` AS `character` WHERE `character`.`routeName` = 'yes' LIMIT 1; --> 
