{{!-- Primary layout page for heading and footer --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recipe Share</title>
  <script src="http://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="../../public/assets/css/app.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

<div class="hero is-fullheight-with-navbar" style="background-image: url(./assets/images/mainBackground.jpg); 
background-position: center center; background-repeat: no-repeat; background-attachment: fixed; 
background-size: cover; background-color:grey;">


  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="./assets/images/bookLogo.png" width="50" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

    <div class="navbar-end">
      <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="nutrition" class="navbar-item" style="color:rgb(66, 158, 66); font-weight:bold;">
        Nutrition App
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" style="color:rgb(66, 158, 66); font-weight:bold;">
          Recipe Book
        </a>

        <div class="navbar-dropdown">
          <a href="create" class="navbar-item" style="color:rgb(66, 158, 66); font-weight:bold;">
            Create a Recipe
          </a>
          <a href="all" class="navbar-item" style="color:rgb(66, 158, 66); font-weight:bold;">
            Search Recipes
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
</nav>

  {{{ body }}}

{{!-- WORKING ON CHANGING TO TRANSPARENT --}}
<div class="footer" style="bottom:0; background-image: url(./assets/images/mainBackground.jpg); 
  background-position: center center; background-repeat: no-repeat; background-attachment: fixed; 
  background-size: cover; background-color:grey; padding: 2rem 1rem 4rem !important; height: 5vh; overflow:hidden;">
  <div class="content has-text-centered has-text-white-bis">
    <p>© Recipe Share</p>
  </div> 
</div>

</body>

</html>