{{!-- Page for either viewing or searching for recipes depending on what we can get done --}}

<form id="search-recipe">
  <input id="recipe" type="text" name="title" placeholder="Recipe Name" autofocus>
  <button>Search Recipes or All Recipes</button>
</form>

<ul style="background-color: grey; color: white; width: 50vw;">
  {{#each recipe}}
  <li data-id="{{id}}"><input class="complete" type="checkbox" name="isCompleted" value="true" {{#if isCompleted}}
      Here is the recipe!
  {{/if}}>
  {{title}} [<a href="#" class="destroy">X</a>]</li>
  {{else}}
  <li>No recipe found</li>
  {{/each}}
</ul>