{{!-- main partial page of the app --}}
<div class="container" style="background-image: url(./assets/images/mainBackground.jpg); 
background-position: center center; background-repeat:  no-repeat; background-attachment: fixed; 
background-size: cover; background-color:grey; color: white; width: 50vw; min-height: calc(100vh - 40px);">
<!-- HEADING -->
<div class="columns">
<div class="column">
<div class="text-center">
<h1>Cookbook</h1>
<h4 class="subheader">Welcome to Cookbook, a place to create and store recipes and research nutrition of ingredients</h4>
</div>
</div>
</div>

<!-- Submit and Search Buttons for Main Homepage -->
<div class="columns is-mobile">
  <div class="column is-half">
      <a class="expanded secondary button align-center" href="/all" style="height:30vh; width: 25vw;">
        <h2>Create, Store, and Search Recipes</h2>
        <h4>click here</h4>
      </a>
  </div>
  <div class="column is-half">
      <a class="expanded secondary button align-center" href="/nutrition" style="height:30vh; width: 25vw; ">
        <h2>Search Nutritional Information</h2>
        <h4>click here</h4>
      </a>
  </div>
</div>

</div>