{{!-- main partial page of the app --}}
<div>
<!-- HEADING -->
<div class="columns">
<div class="column">
<div class="text-center">
  <h1 style="color: #34a6f1; font-size: 30px;" class="has-text-centered">Welcome to</h1>
  <h1 style="font-family: 'Great Vibes', bold; color: #34a6f1; font-size: 60px;" class="has-text-centered">Recipe Share</h1>
  <h2 style="color: #34a6f1; font-size: 24px;" class="has-text-centered">A place to create and view recipes, as well as search nutritional facts about specific foods.</h2>
</div>
</div>
</div>

<!-- Submit and Search Buttons for Main Homepage -->
<div class="columns is-mobile is-multiline is-centered">
    <div class="column is-narrow">
      <a class="expanded secondary button align-center is-info" href="/all" id="cButtons">
        <h1 style="font-family: 'Great Vibes', bold; color: black; font-size: 40px;">Recipe Book</h1>
      </a>
    </div>
    <div class="column is-narrow">
      <a class="expanded secondary button align-center is-info" href="/nutrition" id="cButtons">
        <h1 style="font-family: 'Great Vibes', bold; color: black; font-size: 40px;">Nutrition Facts</h1>
      </a>
    </div>
  </div>
</div>