{{!-- This page is an example placeholder. Will need to have a search input and output for searching 
the nutritional information of an ingredient --}}

<h1 style="background-color: grey; color: white; width: 50vw;">Find the Nutritional Information of an Ingredient!</h1>

<form id="search-ingredient">
  <input id="ingredient" type="text" name="title" placeholder="Ingredient Name" autofocus>
  <button>Ingredient Search</button>
</form>

<ul style="background-color: grey; color: white; width: 50vw;">
  {{#each ingredient}}
  <li data-id="{{id}}"><input class="complete" type="checkbox" name="isCompleted" value="true" {{#if isCompleted}}
      Here is the nutritional information!
  {{/if}}>
  {{title}} [<a href="#" class="destroy">X</a>]</li>
  {{else}}
  <li>No Nutritional Information Found</li>
  {{/each}}
</ul>

<script src="/assets/js/todos.js"></script>