{{!-- This page is an example placeholder. If you do not want the destroy option, feel free to remove it--}}

{{!-- DIV FOR WHOLE VIEW CARD --}}
<div class="container" style="background-image: url(./assets/images/mainBackground.jpg); 
background-position: center center; background-repeat:  no-repeat; background-attachment: fixed; 
background-size: cover; background-color:grey; color: white; width: 50vw; min-height: calc(100vh - 40px);">

{{!-- BUTTON HEADER FOR SEARCH CARD --}}
<div class="card" style="vertical-align: auto;">
<div class="card-header" style="background-color:grey; color:white;">
<form id="search-nutrition">
  <input id="nutrition" type="text" name="title" placeholder="Ingredient Name" autofocus>
  <button>Ingredient Search</button>
</form>
</div>
<div class="card-body" id="nutritional-search">
<ul style="background-color: grey; color: white; width: 50vw;">
  {{#each nutrition}}
  <li data-id="{{id}}"><input class="complete" type="checkbox" name="isCompleted" value="true" {{#if isCompleted}}
      Here is the nutritional information!
  {{/if}}>
  {{title}} [<a href="#" class="destroy">X</a>]</li>
  {{else}}
  <li>No Nutritional Information Found</li>
  {{/each}}
</ul>
</div>
</div>
</div>

<script src="/assets/js/todos.js"></script>