<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Recipe Search</title>
<link rel="stylesheet" href="css/foundation.css">
<script src="https://code.jquery.com/jquery.js"></script>
<link rel="stylesheet" href="css/app.css">
</head>
<body>

<!-- NAVIGATION -->
<header>
  <div data-sticky-container>
    <div class="top-bar" id="responsive-menu" style="border: 0px white;">
      <div class="top-bar-left">
        <a href="/" style="color:black;">Site Logo/Cookbook Home</a>
      </div>
      <div class="top-bar-right">
        <li class="menu">
          <a href="/view">Recipe Book</a>
          <a href="/nutrition">Nutrition Search</a>
        </li>
      </div>
    </div>
  </div>
</header>

<!-- HEADING -->
<div class="callout medium">
  <div class="text-center">
  <h1>Recipe Creation</h1>
  <h4 class="subheader">Use the form below to create a new recipe</h4>
  <a href="/view" class="button">
    <span class="fa fa-th-list"></span> Search Recipes</a>
  <a href="/all" class="button">
    <span class="fa fa-th-list"></span> All Recipes</a>
  </div>
  </div>

  <!--Search Form  -->
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
    <div class="card" style="vertical-align: auto;">
        <div class="card-header text-white" style="background-color:grey; color:white;">
            <i class="fas fa-th-list"></i> Create a New Recipe
        </div>
        <div class="card-section">
            <form action="" method="POST" role="form">
                <div class="form-group">
                    <label for="">Recipe Name:</label>
                    <input id="name" class="form-control form-fields" type="text"
                        placeholder="Ex: Roasted Eggplant Parmesean" style="width:95vw;">
                </div>
                <div class="form-group">
                <label for="">Category:</label>
                <input id="category" class="form-control form-fields" type="text"
                    placeholder="Ex: Italian" style="width:95vw;">
                </div>
                <div class="form-group">
                    <label for="">Cooking Time (format: "time + minutes/hours"; Please round to nearest minute):</label>
                    <input id="cookTime" class="form-control form-fields" type="text" placeholder="Ex: 45 minutes" 
                    style="width:95vw;">
                </div>
                <div class="form-group">
                <label for="">Cooking Instructions:</label>
                <input id="cookInstruct" class="form-control form-fields" type="text" 
                placeholder="Ex: slice and season ingredients, put in pan, fry for 7 mins on high, etc." 
                style="width:95vw; height:20vh;">
            </div>
            <button id="add-btn" class="button" type="button" style="margin-top: 20px;"><i></i>
                Add Recipe</button>
            </form>
        </div>
      </div>
      </div>
    </div> 

  <!-- Custom Script -->
  <script src="js/add.js" type="text/javascript"></script>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/what-input.js"></script>
  <script src="js/vendor/foundation.js"></script>
  <script src="js/app.js"></script>
  </body>
  </html>
