<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Search</title>
  <link rel="stylesheet" href="css/foundation.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="css/app.css">
</head>

<body>

<!-- NAVIGATION -->
<header>
  <div data-sticky-container>
    <div class="top-bar" id="responsive-menu" style="border: 0px white;">
      <div class="top-bar-left">
        <a href="/" style="color:black;">Site Logo/Cookbook Home</a>
      </div>
      <div class="top-bar-right">
        <li class="menu">
          <a href="/view">Recipe Book</a>
          <a href="/nutrition">Nutrition Search</a>
        </li>
      </div>
    </div>
  </div>
</header>

<!-- HEADING -->
<div class="callout medium">
  <div class="text-center">
      <h1>Communal Cookbook</h1>
      <h4 class="subheader">Below is a list of all of our copiled recipes</h4>
      <a href="/view" class="button">
          <span class="fa fa-th-list"></span> Search Recipes</a>
      <a href="/add" class="button">
          <span class="fa fa-plus"></span> Add New Recipe</a>
  </div>
</div>

<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
      <div class="card" style="vertical-align: auto;">
          <div class="card-header" style="background-color:grey; color:white;">
              Recipe Database
          </div>
          <div class="card-body" id="recipe-section">
              <!-- Content will go in here -->
          </div>
      </div>
  </div>
</div>
</div>

<!-- Custom Script -->
<script src="js/all.js" type="text/javascript"></script>

<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.js"></script>
<script src="js/app.js"></script>
</body>

</html>